@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita el scroll si no es necesario */
}

main {
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: transparent; /* No se verá el color aqua */
    display: flex;
    justify-content: center; /*  centra contenido horizontalmente */
    align-items: center; /* centra contenido verticalmente */
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Elimina bordes del iframe */
    background-color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: white;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1; 
}

.header .nav-links a:hover{
    color: #ffbc0e;
}

/**/.menu {
    display:none;
}

.header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: rgb(248, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .menu button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #36df0cc2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: rgb(131, 0, 0);
    color: #1b3039;
    transform: scale(1.1);
}

.header .menu button:hover{
    background-color: #218608d2;
    color: #1b3039;
    transform: scale(1.1);
}
/**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}

.oculto {
    display: none !important;
}


/*Nav Mobile*/

.header a{
    text-decoration: none;   
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}
.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

/*cruz*/
.header .overlay .close{ 
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*  MENÚ ACTIVO */
.header .nav-links a.activo {
  color: #ffbc0e;            /* amarillo */
  font-weight: 800;
  font-size: 22px;           /* un poco más grande */
  transform: scale(1.05);
}

/* Para el menú móvil */
.header .overlay a.activo {
  color: #ffbc0e;
  transform: scale(1.2);
}
